
<div class="login">
    <div class="login-box">
        <h2 class="login-header">Sign Up</h2>
    </div>  

    <form [formGroup]="registerForm" class="login-container" (ngSubmit)="register()">

        <p [ngClass]="{ 'has-error': isSubmitted && formControls.fullname.errors }">
        <input type="fullname" placeholder="Name" formControlName="fullname">
        </p>

        <div *ngIf="isSubmitted && formControls.fullname.errors" class="help-block">
        <div *ngIf="formControls.fullname.errors.required" class="warning">Name is required</div>
        </div>

        <p [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
        <input type="email" placeholder="Email" formControlName="email">
        </p>

        <div *ngIf="isSubmitted && formControls.email.errors" class="help-block">
        <div *ngIf="formControls.email.errors.required" class="warning">Email is required</div>
        </div>

        <p [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
        <input type="password" placeholder="Password" formControlName="password">
        </p>

        <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
        <div *ngIf="formControls.password.errors.required" class="warning">Password is required</div>
        </div>
    
        <p>
          <input type="submit" value="Sign Up">
        </p>
    </form>
</div>

